<head>
  <meta charset="utf-8" />
  <title><%=htmlWebpackPlugin.options.title%></title>
  <meta name="keywords" content="<%=htmlWebpackPlugin.options.keywords%>" />
  <meta name="description" content="<%=htmlWebpackPlugin.options.description%>" />
  <meta name="author" content="<%=htmlWebpackPlugin.options.author%>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/css/uikit-core.min.css"
    media="screen"
    integrity="sha512-hKpX9vRbIJXG+lqr+fTIVgZx1cEX1MCGTQp5m1ryGKPAywC/OSrTlPkiypRSWHNZ4sjCIQYy+Ba8K0dwnvrDNA=="
    crossorigin="anonymous"
  />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab" media="screen" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous"
    media="screen"
  />

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="..//apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="..//favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="..//favicon-16x16.png" />
  <link rel="manifest" href="..//site.webmanifest" />
  <link rel="mask-icon" href="..//safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#2F80ED" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="<%=htmlWebpackPlugin.options.title%>" />
  <meta name="twitter:description" content="<%=htmlWebpackPlugin.options.description%>" />
  <meta name="twitter:image" content="https://edinei.dev/mstile-150x150.png" />

  <!-- Open Graph data -->
  <meta property="og:title" content="<%=htmlWebpackPlugin.options.title%>" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://edinei.dev/mstile-150x150.png" />
  <meta property="og:image:secure_url" content="https://edinei.dev/mstile-150x150.png" />
  <meta property="og:description" content="<%=htmlWebpackPlugin.options.description%>" />
</head>
