<!DOCTYPE html>
<html lang="en">
  <%- include ../shared/head.ejs -%>
  <body>
    <div>
      <main class="palestras">
        <div class="timeline">
          <div class="timeline-item">
            <div class="timeline-left">
              <span class="uk-badge"></span>
            </div>
            <div class="timeline-content">
              <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Palestras</h3>
                <p>Segue palestras ou workshop que eu ministrei.</p>
              </div>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-left">
              <span class="uk-badge uk-badge-danger"><span uk-icon="heart"></span></span>
            </div>
            <div class="timeline-content">
              <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">
                  <a id="grpc-workshop"></a>
                  gRPC: Conhecendo novo modelo de comunicação entre microsserviços
                </h3>
                <p>
                  <span uk-icon="link"></span>
                  <a
                    target="_blank"
                    href="https://speakerdeck.com/neiesc/grpc-conhecendo-novo-modelo-de-comunicacao-entre-microsservicos"
                    title="Link da palestra"
                    rel="noopener"
                    >palestra</a
                  >
                  <br />
                  <span uk-icon="link"></span>
                  <a target="_blank" href="https://edineicavalcanti.typeform.com/to/LoejEP" title="Link para feedback" rel="noopener"
                    >Feedback dos slides</a
                  >
                  <br />
                  <span uk-icon="link"></span>
                  <a
                    target="_blank"
                    href="https://github.com/neiesc/talks/tree/main/Grpc-workshop"
                    title="Link para demo no github"
                    rel="noopener"
                    >Demo no github</a
                  >
                  <br />
                  <br />
                  23/06/2021 -
                  <span uk-icon="link"></span>
                  <a
                    target="_blank"
                    href="https://youtu.be/LGPb2buknSs"
                    title="12/04/2020 - Fatech Talks"
                    rel="noopener"
                    >
                    dotNet Rio Preto (youtube)</a>
                  <br />
                  12/04/2020 -
                  <span uk-icon="link"></span>
                  <a
                    target="_blank"
                    href="https://www.facebook.com/watch/live/?v=3425279937501243"
                    title="12/04/2020 - Fatech Talks"
                    rel="noopener"
                    >Fatech Talks</a
                  ><br />
                  28/02/2020 - OCTO Soluções Corporativas em T.I.
                  <br />
                  06/11/2019 - Agile Content
                </p>
              </div>
            </div>
          </div>
          <div class="timeline-item-finish">
            <div class="timeline-left">
              <span class="uk-badge uk-badge-danger"></span>
            </div>
          </div>
        </div>
      </main>

      <div id="particles-js"></div>
      <%- include ../shared/menu.ejs -%>
    </div>

    <!-- scripts -->
    <%- include ../shared/footer.ejs -%>
    <%- include ../shared/google_analytics.ejs -%>
    <%- include ../shared/hotjar.ejs -%>
  </body>
</html>
